
body {
    margin: 0px;
    border: 0;
    padding: 0; 
}

.timeview {
    text-align: right;
    margin-right: 25%;
    font-size: 20px;
    color: #0f2040;
}

.timeviewright {
    text-align: left;
    margin-left: 25%;
    font-size: 20px;
    color: #0f2040;
}

#errormessage {
    text-align: center;
    font-size: 25px;
    color: #0f2040; 
}

header {
    color: #fff;
    padding: 5px;
    font-size: 40px;
    text-align: center;
    background-color: #0f2040;
    font-family: 'Oswald', sans-serif;   
    font-family: 'Work Sans', sans-serif;
}

header > p {
    margin-left: 300px; 
}

#line {
    margin-top: 37px;
    height: 3px;
    width: 25px;
    background-color: white;
    transform: rotate(90deg);
}

#cover-photo { 
    float: left;
    margin-top: -120px;
    margin-left: 390px;
}
  
#sub-header {
    display: flex;
    border-bottom: solid;
    justify-content: center;
    border-bottom-width: 1px;
}

#sub-header > a {
    color: #363636;
    pointer: cursor;
    font-size: 30px;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
}

#sub-header > a:hover {
    background-color: #f1f1f1;
}

.body-section {
    height: 60vh;
}

form {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    color: #1F2667;
}

#badgeid {
    color: #1F2667;
    height: 30px;
    font-size: 20px;
    padding: 5px 15px 5px 15px;
}

#punchlistdate {
    color: #1F2667;
    height: 30px;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px 15px 5px 15px;
}

#Submit {
    border: none;
    color: white;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #1F2667;
    padding: 10px 20px 10px 20px;     
}

#Submit:hover {
    background-color: #0f2040; 
}

#resultsarea {
    font-size: 30px;
    text-align: center;
}

#footer {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #0f2040;
}

#author-section {
    font-size: 20px;
    padding-left: 5%;
}

#icons {
    left: 50%;
    display: flex;
    justify-content: flex-end;
    background-color: #0f2040;	
}

.icon {	
    display: flex;
    justify-content: space-evenly;
    padding-right: 5%;
    width: 30%; 
}

.icon a {
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    text-decoration: none !important;
}

.icon a:hover {	
    background: #BC0000;
}

ul {
    list-style: none;
}

#column {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    color: #0f2040;
}

.col_header {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
}

#employee_description {
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    margin-left: 25%;
    margin-right: 25%;
}

#output {
    font-size: 20px;
    color: black;
}

#output > p {
    margin-left: 18%;
    margin-right: 15%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}