
body {
    margin: 0px;
    border: 0;
    padding: 0; 
}

header {
    color: #fff;
    padding: 5px;
    font-size: 40px;
    text-align: center;
    background-color: #0f2040;
    font-family: 'Oswald', sans-serif;   
    font-family: 'Work Sans', sans-serif;
}

header > p {
    margin-left: 220px; 
}

#cover-photo { 
    float: left;
    margin-top: -120px;
    margin-left: 390px;
}
  
#sub-header {
    display: flex;
    border-bottom: solid;
    justify-content: center;
    border-bottom-width: 1px;
}

#sub-header > a {
    color: #363636;
    pointer: cursor;
    font-size: 30px;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
}

#sub-header > a:hover {
    background-color: #f1f1f1;
}

form {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    color: #1F2667;
}

#badgeid {
    color: #1F2667;
    height: 30px;
    font-size: 20px;
    padding: 5px 15px 5px 15px;
}

#punchlistdate {
    color: #1F2667;
    height: 30px;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px 15px 5px 15px;
}

#Submit {
    border: none;
    color: white;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #1F2667;
    padding: 10px 20px 10px 20px;     
}

#Submit:hover {
    background-color: #0f2040; 
}

#resultsarea {
    font-size: 30px;
    text-align: center;
}

#footer {
    color: white;
    background-color: #0f2040;
}

#author-section {
    float: left;
    font-size: 20px;
    padding-left: 50px;
    background-color: #0f2040;
}

#icons {
    left: 50%;
    display: flex;
    justify-content: flex-end;
    background-color: #0f2040;	
}

.icon {	
    display: flex;
}

.icon a {
    display: block;
    padding: 5px 15px 5px 15px;
}

.icon a:hover {	
    margin-top: -15px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #BC0000;	
}

ul {
    list-style: none;
}

#icons a {
    color: white;
    text-decoration: none !important;
}