
body {
    
    margin: 0px;
    padding: 0;
    border: 0;
    
}

header {
    
    padding: 5px;
    background-color: #0f2040;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-align: center;
    
}

header > p {
    
    margin-left: 220px;
    
}

#cover-photo {
    
    float: left;
    margin-top: -120px;
    margin-left: 390px;
    
}
  
#sub-header {
    
    display: flex;
    justify-content: center;
    border-bottom: solid;
    border-bottom-width: 1px;

}

#sub-header > a {
  
    color: #363636;
    padding: 10px 30px 10px 30px;
    font-size: 30px;
    text-decoration: none;
  
}

#sub-header > a:hover {
    
    background-color: #f1f1f1;
    
}

form {
    
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    color: #1F2667;
    
}

#badgeid {
    
    color: #1F2667;
    height: 30px;
    font-size: 20px;
    padding: 5px 15px 5px 15px;
    
}

#punchlistdate {
    
    color: #1F2667;
    height: 30px;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px 15px 5px 15px;
    
}


#Submit {
    
    background-color: #1F2667;
    border: none;
    color: white;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
        
}

#Submit:hover {
    
    background-color: #0f2040;
     
}

#resultsarea {
    
    text-align: center;
    font-size: 30px;
}

#footer {
	
    background-color: #0f2040;
    color: white;
	
}

#author-section {
	
    float: left;
    font-size: 20px;
    padding-left: 50px;
    background-color: #0f2040;
}

#icons {
	
    display: flex;
    justify-content: flex-end;
    left: 50%;
    background-color: #0f2040;
	
}

.icon {
	
    display: flex;

}

.icon a {
	
    display: block;
    padding: 5px 15px 5px 15px;
  
}

.icon a:hover {
	
    margin-top: -15px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #BC0000;
	
}

ul {
    list-style: none;
}

#icons a {
	
    text-decoration: none !important;
    color: white;

}